.login {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 20px 50px;
    background-color: var(--bg-gray);
}

.login-intro {
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}

.login-content {
    height: 100%;
    padding: 20px 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
}

.content-title {
    font-size: 45px;
    font-weight: 400;
    color: #333;
    margin-bottom: 20px;
}

.content-subtitle {
    margin-bottom: 35px;
    color: #666;
    font-size: 20px;
}

.login-select {
    margin-bottom: 35px;
    text-align: center;

    & .login-label {
        text-align: left;
    }

    &__avatar {
        position: relative;
        display: inline-block;

        & .avatar {
            margin: 0 auto;
        }

        & .icon-edit {
            position: absolute;
            bottom: 0;
            right: 0;

            font-size: 30px;
            padding: 5px;
            background-color: #fff;
            color: #888;

            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            transition: color .25s ease-in-out;

            &:hover {
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }

}

.login-label {
    font-size: 14px;
    font-weight: 500;
    color: #888;
    margin-bottom: 8px;
    display: block;

}

.login-input {
    margin-bottom: 36px;

    & .input {
        border: 1px solid #dedede;
        border-radius: 99px;
        outline: none;

        color: var(--text-color);
        font-size: 15px;
        line-height: 1.5;
        padding: 10px 15px;
        width: 100%;
        transition: all .2s linear;

        &::placeholder {
            color: #aaa;
            font-size: 13px;
        }

        &:focus {
            border-color: var(--primary-color);
        }
    }

    & .input.error {
        border-color: #dc3545;
        position: relative;
    }

    & .feedback-input {
        margin-top: 5px;
        font-size: 13px;
        color: #dc3545;
        opacity: 0;
        transition: all .05s linear;

        &.error {
            opacity: 1;
        }
    }
}

.login-btn {
    padding: 22px 55px;
    width: 100%;
    border-radius: 99px;
}

.wrap-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

// Responsive
@media screen and (max-width: 1023px) {
    .login-intro {
        width: 50%;
    }

    .login-content {


        &__action {
            padding: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .login-intro {
        display: none;
    }

    .login {
        background: var(--bg-gray);
        padding: 0;
    }

    .login-content {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: unset;
        border-radius: 0;

        &__title {
            padding: 20px 0;
        }
    }

    .login-btn {
        width: 100%;
    }
}

@media screen and (max-width: 374px) {}