.info-bar {
    width: 300px;
    padding: 10px 10px 10px 0;
    flex-direction: column;
    display: none;
    background-color: #fff;

    &.active {
        display: flex;
    }

    &__top {
        height: 65px;
        border-bottom: 1px solid var(--gray-color);
        display: flex;
        align-items: center;

        & .icon-back {
            width: 27px;
            height: 27px;
            border-radius: 27px;
            overflow: hidden;

            margin: 0 15px;
            color: var(--primary-color);
            cursor: pointer;
            transition: background .25s linear;

            &:active {
                background: #eee;
            }

            @media screen and (min-width: 1025px) {
                display: none;
            }

        }

        & .title {
            color: var(--text-color);
            font-size: 17px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;

        & .avatar {
            width: 70px;
            height: 70px;
            border-radius: 70px;
            overflow: hidden;
            margin: 16px 0;
        }

        & .name {
            font-weight: 500;
            font-size: 20px;
            color: #333;
            margin: 10px 0;
        }

        & .link {
            color: var(--primary-color);
            font-size: 16px;
            padding: 10px;
            cursor: default;
        }
    }
}

.copyright {
    margin-top: auto;
    font-size: 13px;
    color: #888;
    text-align: center;

    & a {
        color: var(--primary-color);
    }
}



@media screen and (max-width: 1024px) {
    .info-bar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -300px;

        padding-right: 0;
        margin: 0;
        border-radius: 0;
        transition: all .2s ease-in-out;
        z-index: 9999;
        display: flex;

        &.active {
            right: 0;
        }
    }
}


@media screen and (max-width: 767px) {
    .info-bar {
        right: -100%;
        width: 100%;
        padding: 0;
        padding-bottom: 15px;
        margin: 0;
        border-radius: 0;
        display: flex;

        &.active {
            right: 0;
        }
    }
}

.hidden-click {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

@media (min-width:768px) and (max-width:1024px) {
    .hidden-click.active {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 300px;
        background: rgba(0, 0, 0, 0.068);
        opacity: 1;
        visibility: visible;
    }
}