.modal-friends {
    position: fixed;
    top: 0px;
    left: -330px;
    bottom: 0;
    width: 330px;
    padding: 10px;

    background-color: #fff;
    transition: all .3s ease-in-out;
    z-index: 99;

    &.active {
        left: 0px;
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 14px;

        & .icon {
            font-size: 25px;
            color: $text-color;
            margin-left: auto;

            width: 35px;
            height: 35px;
            border-radius: 35px;
            overflow: hidden;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: background .25s ease;

            &:hover {
                background: #efefef;
                cursor: pointer;
            }
        }
    }

    &__category {
        display: flex;
        align-items: center;
        padding: 16px 0;

        & .option-item {
            font-size: 16px;
            margin-right: 10px;
            color: #aaa;
            cursor: pointer;
            line-height: 1.5;
            padding: 5px;
            border-bottom: 2px solid transparent;

            &.active {
                color: $text-color;
                font-weight: 600;
                border-color: $primary-color;
            }
        }


    }

    &__list {
        height: calc(100vh - 210px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #aaa;
            border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #999;
        }

        & .not-match {
            color: #999;
            text-align: center;
            font-size: 15px;
            margin-top: 10px;
        }
    }


    @media screen and (max-width: 767px) {
        width: 100%;
        left: -100%;
    }
}


.item-friend {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    cursor: default;
    padding: 10px;
    border-radius: 5px;
    transition: all .15s linear;

    &:hover {
        background-color: #efefef;
    }

    &__name {
        margin-left: 10px;
        font-size: 15px;
        padding: 10px 0;
    }

    &__add {
        margin-left: auto;
    }
}