.pop-setting {
    position: absolute;
    right: -5px;
    top: 50px;
    width: 200px;
    padding: 0 15px;

    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 9999999;
    cursor: default;

    &::after {
        content: "";
        position: absolute;
        top: -5px;
        right: 19px;
        width: 10px;
        height: 10px;
        background: #fff;
        transform: rotate(45deg);
        box-shadow: rgba(0, 0, 0, .16) 0px 0px 3px;
    }

    &::before {
        content: "";
        position: absolute;
        top: .3px;
        right: 16px;
        width: 16px;
        height: 9px;
        background: #FFF;
        z-index: 1;
    }

    &__item {
        font-size: 16px;
        padding: 18px 0;
        cursor: pointer;
        color: #333;
        display: flex;
        align-items: center;
        transition: color .15s linear;

        & span {
            margin-left: 10px;
            font-weight: 500;
        }

        & .icon {
            font-size: 20px;
            margin-right: 7px;
        }

        &:hover {
            color: var(--primary-color);
        }

        &:not(:last-child) {
            border-bottom: 1px solid #eee;
        }
    }
}