.item-room {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 1px;
    transition: background-color .1s ease-in;
    user-select: none;

    @media screen and (min-width: 768px) {
        &.active {
            background-color: #F5F5F5;
        }

    }

    &:hover {
        background-color: #efefef;
    }

    & .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        overflow: hidden;
    }

    & .name {
        font-size: 16px;
        color: var(--text-color);
        margin-left: 10px;
    }

    & .time {
        margin-left: auto;
        font-size: 13px;
        color: #777;
        font-weight: 300;
    }
}